.public-ursus {
  width: 8em;
  margin-top: 0.2em;
}
.nav-icon {
  margin: 0;
  padding: 0.1em;
  width: 4em;
}

.public-nav {
  z-index: 1;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #c8d2d1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
}
.nav-ico-logo img {
  margin-left: 1em;
  height: 3em;
  padding: 0.1em;
  cursor: pointer;
}

.user-search-wrap {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-ico-search {
  display: flex;
  align-items: center;
  height: 100%;

  cursor: pointer;
}

.nav-ico-user {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
.nav-ico-user img,
.nav-ico-search img {
  height: 2em;
  padding: 0 1em 0 1em;
}
.nav-ico-user:hover,
.nav-ico-search:hover {
  transition: 0.7s;

  background-color: #da6a00;
}
.expand {
  display: flex;
  align-items: center;
  background-color: #ee9b01;
  height: 100%;
}
.expand {
  padding: 0 1em 0 1em;
}
.active {
  background-color: #da6a00;
}
.active-hover:hover {
  transition: 0.2s ease-in-out;

  display: flex;
  align-items: center;
  height: 100%;
  background-color: #da6a00;
}
