/* .public-nav-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
} */
.public-ursus {
  width: 8em;
  margin-top: 0.2em;
}
.nav-icon {
  margin: 0;
  padding: 0.1em;
  width: 4em;
}

/*TODO: -----PUBLIC NAV TEST----*/

.public-nav {
  z-index: 1;
  width: 100%;
  /* position: sticky; */
  top: 0;
  position: fixed;
  /* overflow: hidden; */
  /* border: 4px solid red; */
  background-color: #c8d2d1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
}
.nav-ico-logo img {
  margin-left: 1em;
  /* border: var(--test); */
  height: 3em;
  padding: 0.1em;
  cursor: pointer;
}

.user-search-wrap {
  /* border: var(--test); */
  display: flex;
  align-items: center;
  /* background-color: #68904d; */
  height: 100%;
}

.nav-ico-search {
  display: flex;
  align-items: center;
  /* border: var(--test); */
  height: 100%;
  /* margin-left: 2em; */

  cursor: pointer;
}

.nav-ico-user {
  display: flex;
  align-items: center;
  height: 100%;
  /* margin-left: 2em; */
  /* margin-right: 1em; */
  /* border: var(--test); */
  cursor: pointer;
}
.nav-ico-user img,
.nav-ico-search img {
  height: 2em;
  padding: 0 1em 0 1em;
}
.nav-ico-user:hover,
.nav-ico-search:hover {
  transition: 0.7s;

  background-color: #da6a00;
  /* background-color: #EE9B01 */
}
.expand {
  display: flex;
  align-items: center;
  background-color: #ee9b01;
  /* border: var(--test); */
  height: 100%;
}
.expand {
  padding: 0 1em 0 1em;
}
.active {
  background-color: #da6a00;
}
.active-hover:hover {
  transition: 0.2s ease-in-out;

  display: flex;
  align-items: center;
  height: 100%;
  background-color: #da6a00;
}
/* @media (max-width: 569px) {
  .public-nav {
    border: var(--test);
    display: flex;
  }
  .nav-ico-logo {
    border: var(--test);
  }
  .nav-ico-logo img {
    margin: 0.1em;
    padding: 0.1em;
  }
} */
/*TODO:TEST*/
