/*props from CardStyles.css*/

.modal-off {
  display: none;
}
.modal-wrap {
  display: flex;
  justify-content: center;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-sizer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 1em; */
  height: 30em;
  width: 30em;
  margin: 1em;
  /* border: 4px solid red; */

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.62) 0px -12px 30px, rgba(0, 0, 0, 0.32) 0px 4px 6px,
    rgba(0, 0, 0, 0.37) 0px 12px 13px, rgba(0, 0, 0, 0.89) 0px -3px 5px;
  border-radius: 10px;
  background-color: var(--bg-col);
}
.modal-difficulty,
.modal-type,
.modal-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: var(--test); */
  border-radius: 40px;
  height: 6em;
  width: 4.2em;
  background-color: #ee9b01;
}
.modal-icons {
  border: var(--test);
  width: 100%;

  display: flex;
  justify-content: space-around;
}
.modal-icons h1 {
  font-size: 0.9em;
  margin-top: 0.5em;
  padding: 0.1em;
}
.modal-ico {
  /* border: var(--rtest); */
  margin: 0.1em;
  width: 2.5em;
  padding: 0.4em;
  border-radius: 4000px;
  background-color: var(--bg-col);
}
