.card-main-details {
  display: flex;
  /* border: 2px solid black; */
  justify-content: space-between;
}
.details-wrap {
  display: flex;
  /* border: 2px solid red; */
  align-items: center;
}
.ing-step-wrap {
  /* border: 2px solid black; */
  /* margin-top: 1em; */
  /* padding: 1em; */
  display: flex;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  /* justify-content: space-around; */
  /* align-items: center  ; */
}
.col {
  padding: 1em;
}
.col li,
p {
  padding: 0.5em;
}
