* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
}
:root {
  --bg-col: #e8ede7;
  --blue: #1769aa;
  --black: #333;

  --test: 2px solid black;
  --rtest: 2px solid red;
  --active: #ee9b01;
}
button {
  cursor: pointer;
}

.icon-hover {
  /* border: 2px solid black; */

  width: 2em;
  padding-left: 0.06em;
  border-radius: 5000px;
  transition: box-shadow 1s ease-out;
}
@media (hover: hover) {
  .icon-hover:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .ursus-hover:hover {
    padding: 0 0.5em 0 0.5em;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  }
}
h3 {
  margin-top: 0.1em;
  font-size: small;
}
.bg-wrap {
  height: 100%;
  width: 100%;
  background-image: url("./Assets/bg-img_50.jpg");
  background-repeat: repeat;
  background-size: cover;
}
