* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;
}
:root {
  --bg-col: #e8ede7;
}

.icon-hover {
  /* border: 2px solid black; */

  width: 2em;
  padding-left: 0.06em;
  border-radius: 5000px;
  transition: box-shadow 1s ease-out;
}
@media (hover: hover) {
  .icon-hover:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .ursus-hover:hover {
    padding: 0 0.5em 0 0.5em;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  }
}
