.search-wrap {
  border: var(--rtest);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0 0 1em;
  /* z-index: 2; */
  /* border: none; */

  background-color: #ee9b01;
  /*TODO:test*/

  /* left: 2em; */
}
.search-wrap input {
  height: 80%;
  /* border-radius: 0 800px 0 0; */
  /* border-radius: 0 800px 0 0; */
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 1em;
  border: none;
  outline: none;
  /*TODO:test*/
}
.mobile-collapse {
  display: none;
}
@media (max-width: 566px) {
  .mobile-collapse {
    display: flex;
  }
  .search-wrap {
    justify-content: flex;
    z-index: 2;
    width: 100%;
    position: absolute;
  }
}
