.search-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0 0 1em;

  background-color: #ee9b01;
}
.search-wrap input {
  height: 80%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 1em;
  border: none;
  outline: none;
}
.mobile-collapse {
  display: none;
}
.mobileIco {
  display: none;
}
@media (max-width: 566px) {
  .search-wrap {
    z-index: 2;
    width: 100%;
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
  }
  .search-wrap input {
    border: var(--test);
    width: 100%;
  }
  .mobile-collapse {
    display: flex;
    padding: 0 0.1em 0 0.1em;
  }

  .mobileIco {
    display: flex;
    height: 2em;
    padding: 0 0.1em 0 0.1em;
  }
}
