.error-text {
  background-image: url("../../Assets/error.svg");
  background-color: #81bece;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  width: 100%;
  height: 100vh;
}
.error-btn {
  margin: 1em;
}
.error-items {
  padding-top: 6em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 477px) {
  .error-items {
    padding-top: 5em;
  }
}
@media (min-width: 664px) {
  .error-items {
    padding-top: 2em;
  }
}
@media (min-width: 813px) {
  .error-items {
    padding-top: 3em;
    margin-left: 10em;
  }
}
