.member-nav {
  overflow: hidden;
  z-index: 1;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #c8d2d1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
}
.member-nav > * {
  margin: 0;
  padding: 0;
}
.member {
  display: flex;
}

.users {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.users img {
  filter: invert(59%) sepia(73%) saturate(2029%) hue-rotate(8deg)
    brightness(101%) contrast(103%);
}
.users h3 {
  margin: 0;
  padding: 0 0.2em 0.5em 0.2em;
}
.mobileIco-user {
  display: none;
}
@media (max-width: 566px) {
  .member-nav {
    top: 0;
    display: flex;
    height: 3em;
    margin: 0;
    padding: 0;
  }
  .nav-ico-logo {
    margin: 0;
    padding: 0;
  }
  .member {
    margin: 0;
    padding: 0;
  }
  .member img {
    margin: 0;
    padding: 0;
  }
  .mobile {
    position: absolute;
    z-index: 2;
  }
  .mobile img {
    display: none;
  }
  .mobile-user {
    z-index: 2;
    position: absolute;
    left: 0;
    width: 100%;
    justify-content: space-between;
  }
  .mobileIco-user {
    display: flex;
    height: 2em;
    padding: 0 0.1em 0 0.1em;
  }
}
.mobile-user-spans {
  display: flex;
  height: 100%;
}
