.member {
  display: flex;
}

.user {
  height: 100%;
  /* border: var(--rtest); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.user img {
  height: 1.8em;
  width: 1.8em;
  /* border: var(--test); */
  padding: 0;
}
.user h3 {
  margin: 0;
  padding: 0.2em;
}
