.edit-pill-wrap {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 0.2em;
  display: flex;
  align-items: center;
  width: 100%;
}
.edit-pill-wrap button {
  display: flex;
  border: none;
  justify-content: center;
  margin: 0 0.2em 0 0;
  background-color: var(--active);
}

.edit-pill-wrap button:hover {
  transition: 0.7s;
  background-color: #da6a00;
}
