.btnOne {
  align-items: center;
  background-clip: padding-box;
  background-color: #da6a00;

  /* border: 1px solid transparent; */
  border: none;
  /* border: var(--rtest); */
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  /* box-sizing: border-box; */
  color: #fff;
  cursor: pointer;
  /* display: inline-flex; */
  /* font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif; */
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  /* line-height: 1.25; */
  margin: 0;
  padding: 0;
  /* min-height: 3rem; */
  /* padding: calc(0.875rem - 1px) calc(1.5rem - 1px); */
  /* position: relative; */
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  /* width: auto; */
  width: 100%;
  height: 100%;
}
.btnOne:hover
/* .btnOne:focus */ {
  background-color: #ee9b01;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btnOne:hover {
  transform: translateY(-1px);
}

/* .btnOne:active {
  background-color: #da6a00;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
} */
.orange {
  background-color: #da6a00;
}
.orange:hover,
.orange:focus {
  background-color: #ee9b01;
}

/*lemon*/
.lemon {
  background-color: #ee9b01;
}
.lemon:hover,
.lemon:focus {
  background-color: #da6a00;
}

/*green*/
.green {
  background-color: #14471e;
}
.green:hover,
.green:focus {
  background-color: #68904d;
}
.btnOne img {
  /* border: var(--rtest); */
  width: 2em;
  /* height: 1em; */
}
.btn-one-wrap {
  /* border: 3px solid green; */
  width: 100%;
  height: 100%;
}
