.alert {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-col);
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert h1 {
  text-align: center;
}

/*search-not-found*/
.not-found {
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.not-found-bg {
  -webkit-mask-image: url("../../Assets/ursus-svg.svg");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  width: 80%;
  height: 80%;
  margin-top: 4em;
}

@media (max-width: 566px) {
  .mobile-not-found {
    border: var(--test);
  }
  .mobile-not-found img {
    margin-top: -10em;
  }
  .mobile-not-found h1 {
    margin-top: -2em;
  }
}
