.add-recipe-wrap {
  /* border: 4px solid red; */
  height: 100vh;

  margin-top: 6em;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 2.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  display: flex;
  justify-content: center;
}

.add-recipe {
  margin-top: 0.3em;

  /* margin-top: 5em; */
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 4px solid black; */
}

.steps {
  padding: 1em;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.ings {
  padding: 1em;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
}
.multi-wrap {
  display: flex;
  justify-content: space-between;
}
.flex-center-wrap {
  display: flex;
  justify-content: center;
}
.other-details-wrap {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
}
.flex-end-wrap {
  display: flex;
  align-items: flex-end;
}
.add-icon {
  align-self: center;
  padding: 0.2em;
  display: flex;
}
.icon-align {
  display: flex;
}
.add-input {
  margin-left: 0.5em;
  width: 5em;
}
.add-edit-wrap {
  padding: 1.8em 0 1em 0;
  text-align: center;
}

.upload-label {
  /* border: 2px solid black; */
  width: 100%;
  /* cursor: pointer; */
  display: flex;
  justify-content: center;
  padding: 0.2em;
}

.img-card-wrap {
  margin-top: 3em;
}

/*TODO:---MOBILE---*/
@media (max-width: 1024px) {
  .other-details-wrap {
    flex-direction: column;
    align-items: center;
  }
  .multi-wrap {
    flex-direction: column;
    margin: 0;
  }
  .ings {
    margin: 0;
    padding: 0;
  }
  .not-flex {
    flex-direction: column;
    align-items: center;
  }
  .add-edit-wrap {
    margin: 0.3em;
  }
  .add-recipe-wrap {
    margin-top: 3.5em;
  }
  .icon-align {
    margin-bottom: 0.2em;
  }
  .time {
    margin-bottom: 0.5em;
  }
}
.recipe-form {
  border: var(--test);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--bg-col);
}
