.landing-wrapper {
  padding: 0;
  margin-top: -1em;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  background-size: contain;
}

.background {
  position: absolute;
  height: 100vh;
  width: 100%;
  /* object-fit: contain; */
  background-size: contain;
  z-index: -1;
}
.title {
  text-align: center;
  font-size: 7rem;
  color: white;
  text-shadow: 0 0 5px black;
}
@media (max-width: 498px) {
  .title {
    font-size: 5rem;
  }
  .bckg-section {
    font-size: 1rem;
  }
}

.bckg-section {
  font-size: 2rem;
  padding: 2rem;
  background-color: #81bece;
  /* background-color: #333; */
  color: #333;
  text-align: center;
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing-btn {
  display: flex;
  margin: 0.5em;
  justify-content: center;
}

.parallax {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../Assets/parallax.jpg");
  /* min-height: 60%; */
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
