.profile-wrap {
  /* margin-top: 5em; */
  /* padding-top: 5em; */
  display: flex;
  align-items: center;
  background-color: var(--bg-col);
  height: 100vh;
}
.profile-submit {
  display: flex;
  justify-content: center;
}
