.multiple-input-wrap {
  margin-bottom: 0.5em;
  display: flex;
}
@media (max-width: 550px) {
  .multiple-input-wrap {
    margin: 0;
  }
}
.multi-wrap-icon {
  /* width: 100%; */
  display: flex;
  border: var(--test);
  width: 4em;
  height: 2em;
}
