.modify-btn-wrap {
  display: flex;
  margin: 0.5em;
  border: 2px solid black;
}

.modify-btn-item {
  margin-right: 0.3em;
}

/*clickable modal triggering area*/
.item-wrap {
  /* border: 2px solid black; */
}

/*props from RecipeModalStyles.css*/
.spread {
  justify-content: space-between;
}

.createdAt {
  text-align: right;
  margin-bottom: 0.5em;
  opacity: 0.4;
}
.modal-hover {
  border: 2px solid green;
}
.hovered {
  position: absolute;
  border: 2px solid black;
  margin-left: 15em;
  opacity: 0.5;
}
