.navbar-main {
  border: 2px solid black;
}
.boxWrap {
  width: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.boxContent {
  padding-bottom: 3em;
}
.ursus {
  width: 8em;
  margin-top: 0.2em;
}
.sideMenu-open-ursus {
  width: 8em;
  margin-top: 0.2em;
  margin-left: 5.5em;
}
