.search {
  /* display: flex; */
  /* width: 10em; */
  /* width: 15em; */
}
.search-items {
  /* width: 100%; */
  margin: 0.5em;
  padding: 0.3em;
  /* border: 3px solid black; */
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.search-input {
  /* border: 2px solid black; */
  display: flex;
  align-items: flex-end;
}
.pagination-align {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  padding-top: 1em;
}
.search-btn {
  /* border: 2px solid black; */
  display: flex;
  /* flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end; */
  justify-content: center;
}
.search-select {
  /* border: 2px solid black; */
  display: flex;
}
.search-input-wrap {
  /* border: 2px solid red; */
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 0.3em 0 0.3em 0;
}

@media (max-width: 550px) {
  .search-input {
    justify-content: center;
  }
  .search-items {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .search-input-wrap {
    /* border: 2px solid red; */
    display: flex;
    /* width: 100%; */

    justify-content: space-between;
    margin: 0.5em 0 0.5em 0;
  }
  .pagination-align {
    padding-top: 0.3em;
  }
}
@media (min-width: 747px) {
  .search-align {
    /* border: 5px solid green; */
    display: flex;
  }
}
