.search {
  /* border: 3px solid black; */
}
.search-items {
  /* border: 3px solid black; */

  margin: 0.5em;
  padding: 0.3em;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.search-input {
  display: flex;
  align-items: flex-end;
}
.pagination-align {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}
.search-btn {
  display: flex;
  justify-content: center;
}
.search-select {
  display: flex;
}
.search-input-wrap {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 0.3em 0 0.3em 0;
}
.search-items h1 {
  margin-top: 0.5em;
}

@media (max-width: 747px) {
  .search-input {
    justify-content: center;
  }
  .search-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .search-input-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.5em 0 0.5em 0;
    justify-content: space-around;
  }
  .pagination-align {
    padding-top: 0.3em;
  }
  .date {
    margin-top: 0.5em;
    display: flex;
  }
}
@media (min-width: 748px) {
  .search-align {
    display: flex;
  }
}
@media (min-width: 426px) {
  .date {
    margin: 0;
  }
}
