.search {
  border: 3px solid black;
  /* width: 15em; */
}
.search-items {
  display: flex;
  justify-content: space-around;
}
.search-input {
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
}
